$header-height: 66px;
$reg-fs:14px;
$big-fs:16px;
$header-fs:24px;



$main-color:#4066A5;
$dark-color:#131821;
$dark-grey-color:#6A707B;
$mid-grey-color:#E3E3E4;
$light-grey-color:#F2F5FA;
$fb-hover-color:#4267B2;
$fb-click-color:#2F4A80;
$inst-hover-color:#C13584;
$inst-click-color:#8F2762;
$tw-hover-color:#1DA1F2;
$tw-click-color:#177FBF;
$yt-hover-color:#FF0000;
$yt-click-color:#CC0000;
$link-click-color:#233759;

$icon-font-family: "pineapple" !default;
$icon-font-path: "../fonts" !default;

$pine-victory-path1: "\e90e";
$pine-victory-path2: "\e90f";
$pine-victory-path3: "\e910";
$pine-victory-path4: "\e911";
$pine-victory-path5: "\e913";
$pine-victory-path6: "\e914";
$pine-victory-path7: "\e915";
$pine-info: "\e916";
$pine-instagram-path1: "\e903";
$pine-instagram-path2: "\e904";
$pine-instagram-path3: "\e905";
$pine-facebook-path1: "\e900";
$pine-facebook-path2: "\e901";
$pine-facebook-path3: "\e902";
$pine-twitter-path1: "\e906";
$pine-twitter-path2: "\e907";
$pine-twitter-path3: "\e908";
$pine-youtube-path1: "\e90a";
$pine-youtube-path2: "\e90b";
$pine-youtube-path3: "\e90c";
$pine-text: "\e909";
$pine-check: "\e912";
$pine-arrow: "\e917";