@import 'variables', 'font';

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-weight: 400;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    overflow: hidden;
    font-family: Arial,
        Helvetica,
        sans-serif;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-flow: column;


}

header {
    height: $header-height;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.3125rem 0 1.25rem;

    img {
        padding-bottom: 0.3125rem;
    }

    .links {
        display: flex;
    }

    li {
        padding-left: 1.25rem;
    }

    li:nth-last-child() {
        padding: 0;
    }

    a:not([class]) {
        color: $dark-grey-color;
        font-size: $reg-fs;

    }
}

main {
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 1.25rem;

    .container {
        width: 100%;
        padding: 1.875rem 1.25rem;
        background: linear-gradient(white, $light-grey-color);
    }



    div.pine-victory{
        font-size:4.375rem;
        margin-bottom:2.4375rem;
    }

    h2 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: $header-fs;
        margin-bottom: 0.75rem;
        line-height: 2.125rem;
    }
    .p-victory{
        margin-bottom: 2.4375rem;
    }

    p {
        font-size: $reg-fs;
        color: $dark-grey-color;
        margin-bottom: 1.25rem;
        line-height: 1.625rem;
    }

    .email-container {
        height: 3.75rem;
        border: 0.0625rem solid $mid-grey-color;
        padding: 0 0.875rem 0 1.1875rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.65625rem;
        background-color: white;
        position: relative;

        input[type="text"] {
            width: 0;
            flex: 1 0 0;
            height: 70%;
            line-height: 1.5rem;
            font-size: 100%;

            &::placeholder {
                color: $dark-grey-color;
                transform: translate3d(0, 0.125rem, 0);
            }
        }

        input[type="submit"] {
            cursor: pointer;
            padding-left: 0.1875rem;
            font-family: pineapple;
            background-color: transparent;
            color: $dark-color;
            opacity: 0.3;
            font-size: 1.5rem;

            &:hover {
                color: $main-color;
                opacity: 0.7;
            }

            &:active {
                color: $main-color;
                opacity: 1;
            }


        }

        &::before {
            content: '';
            position: absolute;
            top: -0.0625rem;
            left: 0;
            height: calc(100% + 0.125rem);
            width: 0.25rem;
            background-color: $main-color;
        }

        &:hover {
            box-shadow: 1.25rem 1.25rem 1.25rem rgba(0, 0, 0, 0.1);

        }

        &:focus-within {
            box-shadow: 1.25rem 1.25rem 1.25rem rgba(0, 0, 0, 0.2);
            border-color: $main-color;
        }


    }
    div.spacer{
        padding-bottom: 0.65625rem;
    }
    div.error {
        position: relative;
        color:red;
        font-size: 1rem;
        padding-left:1.5rem;
        &::before {
            position: absolute;
            left: 0;
            top:-0.125rem;
            content: "\e916";
            font-size: 120%;
            font-family: pineapple;
            
        }
        
    }

    .checkbox-container {
        display: flex;
        align-items: center;
        margin-bottom: 1.3125rem;

        input[type="checkbox"] {
            position: relative;
            height: 1.625rem;
            width: 1.625rem;
            border: 0.0625rem solid $mid-grey-color;
            background-color: white;
            border-radius: 0.1875rem;
            margin-right: 0.9375rem;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;

            &:checked {
                background-color: $main-color;
                border-color: $main-color;

                &::before {
                    position: absolute;
                    font-family: pineapple;
                    top: 23%;
                    left: 19%;
                    color: white;
                    content: "\e912";
                    font-size: 0.8125rem;
                }
            }
        }

        label {
            color: $dark-grey-color;

            a {
                color: $dark-color;
                text-decoration: 0.0625rem underline;
                text-underline-offset: 0.125rem;

                &:hover {
                    color: $main-color;
                }

                &:active {
                    color: $link-click-color;
                }
            }
        }
    }

}

hr {
    border-bottom: 0.0625rem $mid-grey-color solid;
    margin-bottom: 1.25rem;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2.375rem 0 2.0625rem;

    li {
        font-size: 2.875rem;
        display: block;
        margin-right: 0.625rem;
    }

    li:nth-last-child() {
        margin: 0;
    }

    //hover-click styles for social icons

    li.pine-facebook a {
        &:hover {
            border-radius: 1.5rem;
            box-shadow: 0rem 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
        }

        &:hover .path1::before {
            color: $fb-hover-color;
        }

        &:active .path1::before {
            color: $fb-click-color;
        }

        &:hover .path2::before {
            color: $fb-hover-color;
        }

        &:active .path2::before {
            color: $fb-click-color;
        }

        &:hover .path3::before {
            color: white;
            opacity: 1;
        }
    }

    li.pine-instagram a {
        &:hover {
            border-radius: 1.5rem;
            box-shadow: 0rem 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
        }

        &:hover .path1::before {
            color: $inst-hover-color;
        }

        &:active .path1::before {
            color: $inst-click-color;
        }

        &:hover .path2::before {
            color: $inst-hover-color;
        }

        &:active .path2::before {
            color: $inst-click-color;
        }

        &:hover .path3::before {
            color: white;
            opacity: 1;
        }
    }

    li.pine-twitter a {
        &:hover {
            border-radius: 1.5rem;
            box-shadow: 0rem 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
        }

        &:hover .path1::before {
            color: $tw-hover-color;
        }

        &:active .path1::before {
            color: $tw-click-color;
        }

        &:hover .path2::before {
            color: $tw-hover-color;
        }

        &:active .path2::before {
            color: $tw-click-color;
        }

        &:hover .path3::before {
            color: white;
            opacity: 1;
        }
    }

    li.pine-youtube a {
        &:hover {
            border-radius: 1.5rem;
            box-shadow: 0rem 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
        }

        &:hover .path1::before {
            color: $yt-hover-color;
        }

        &:active .path1::before {
            color: $yt-click-color;
        }

        &:hover .path2::before {
            color: $yt-hover-color;
        }

        &:active .path2::before {
            color: $yt-click-color;
        }

        &:hover .path3::before {
            color: white;
            opacity: 1;
        }
    }
}

.background {
    background-image: url('../images/background.png');
    position: absolute;
    width: 100%;
    height: calc(100% - 4.125rem);
    z-index: -1;
    left: 0;
    top: $header-height;
    background-size: cover;
    background-position-x: -17.5625rem;
}

@import 'mq';